@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer utilities {
  .text-uppercase {
    text-transform: uppercase;
  }
  .stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  }
}
